.home {
    width: 100%;
    display: flex;
    .recents {
        margin-right: 15px;
        display: inline;
        width: 350px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
    }

    .room {
        display: inline;
        padding: 10px;
        width: 800px;
        background-color: rgb(219, 225, 226);
        border: 1px solid black;
    }
}